/* Data of years */
/* Class for the background color predetermined */
/*.year {
	background-color: #256e56;
  }*/
  
/* Class for the background color selected */
/*.year.selected {
	background-color: #dcdcdc;
}*/

/* Not links but clickable element */
.clickable {
	cursor: pointer;
}

/* To represent null value */
.undefined {
	background-color: #dcdcdc;;
}

#ley_organica, 
#organigrama {
	color: white;
}

#ley_organica:hover,
#organigrama:hover {
	color: #dcdcdc;
}

/* To lists*/
.not-bullet {
	list-style: none;
}

.white_bullet {
	list-style-type: none;
}

.white_bullet li::before {
	content: "\2022"; /* Unicode for bullet symbol */
	display: inline-block; /* Needed to add space between the bullet and the text */
  	width: 1em; /* Also needed for space (tweak if needed) */
  	margin-left: -1em; /* Also needed for space (tweak if needed) */
	color: white;
}

/* To footer */
#address_presidencia,
#copy_rights {
	font-size: 0.9rem;
}