/* Data of years */
/* Class for the background color predetermined */
/*.year {
	background-color: #256e56;
  }*/
  
/* Class for the background color selected */
/*.year.selected {
	background-color: #dcdcdc;
}*/

/* Not links but clickable element */
.clickable {
	cursor: pointer;
}

/* To represent null value */
.undefined {
	background-color: #dcdcdc;;
}

#ley_organica, 
#organigrama {
	color: white;
}

#ley_organica:hover,
#organigrama:hover {
	color: #dcdcdc;
}

/* To lists*/
.not-bullet {
	list-style: none;
}

/* To footer */
#address_presidencia,
#copy_rights {
	font-size: 0.9rem;
}

