/* Data of years */
/* Class for the background color predetermined */
/*.year {
	background-color: #256e56;
  }*/
  
/* Class for the background color selected */
/*.year.selected {
	background-color: #dcdcdc;
}*/

/* To lists*/
ul {
	list-style: none;
}

/* To footer */
#address_presidencia,
#copy_rights {
	font-size: 0.9rem;
}

